<link href="css/bootstrap.css" rel="stylesheet">
<link href="css/font-awesome.css" rel="stylesheet">
<link href="plugins/summernote/summernote.css" rel="stylesheet">
<style type="text/css">
body{text-align: center;;}
.view-container{width: 900px;margin: 0 auto;text-align: left;padding:50px;}
</style>
<div class="row">
    <div class="col-md-12">
    	<h3>文章列表</h3>
    	<ul ng-repeat="(key, obj) in list">
    		<li ng-repeat="(key, obj) in obj"><a ui-sref="edit({id:key})">{{obj}}</a></li>
    	</ul>
    </div>
</div>
