<link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/font-awesome.css" rel="stylesheet">
    <link href="plugins/summernote/summernote.css" rel="stylesheet">
    <script src="lib/jquery2.2.0.js"></script>
    <script src="lib/bootstrap.js"></script>
    <script src="lib/angular/angular.js"></script>
    <script src="lib/angular/angular-resource.min.js"></script>
    <script src="lib/angular/angular-ui-router.min.js"></script>
    <script src="plugins/summernote/summernote.js"></script>
    <script src="plugins/summernote/summernote-zh-CN.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/editor.js"></script>
    <style type="text/css">
      body{text-align: center;;}
      .view-container{width: 900px;margin: 0 auto;text-align: left;padding:50px;}
    </style>
<div class="row">
    <div class="col-md-12">
    	<h3>文章列表</h3>
    	<ul ng-repeat="(key, obj) in list">
    		<li ng-repeat="(key, obj) in obj"><a ui-sref="edit({id:key})">{{obj}}</a></li>
    	</ul>
    </div>
</div>
